  <launch>
    <!-- Tilt Laser Node-->
    <node pkg="microstrain_comm_35" type="microstrain_comm_35_node" name="imu" />
    <node name="tf_broadcaster" pkg="tilt_laser" type="tf_broadcaster" respawn="false" output="screen" />
    <node type="laser_scan_assembler" pkg="laser_assembler" name="assembler">
        <param name="fixed_frame" type="string" value="world" />
        <param name="max_clouds" type="int" value="400" />
    </node>
  </launch>
