<launch>
    <!-- Tilt Laser Node-->
    <arg name="port" />
    <param name="/use_sim_time" value="true"/>
    
    <!-- <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" >
    	<param name="port" type="string" value="$(arg port)" />
        <param name="min_ang" type="double" value="-2.26" />
        <param name="max_ang" type="double" value="2.26" />
    </node>
    <node pkg="microstrain_comm_35" type="microstrain_comm_35_node" name="imu" /> -->
    <node name="tf_broadcaster" pkg="tilt_laser" type="tf_broadcaster" respawn="false" output="screen" />
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" args=".23  0 .01 0 0 0 base_link laser 5" /> 
    <!--<node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="0 0 0 0 0 0 base_link laser 5" /> -->
    <node type="laser_scan_assembler" pkg="laser_assembler" name="assembler">
        <param name="fixed_frame" type="string" value="world" />
        <param name="max_scans" type="int" value="30" />
    </node>
    <node name="snapshot" pkg="tilt_laser" type="laser_snapshot" /> 
</launch>