  <launch>
    <!-- Tilt Laser Node-->
    <arg name="port" />
    <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" >
    	<param name="port" type="string" value="$(arg port)" />
    </node>
    <node pkg="microstrain_comm_35" type="microstrain_comm_35_node" name="imu" />
    <node name="tf_broadcaster" pkg="tilt_laser" type="tf_broadcaster" respawn="false" output="screen" />
    <node name="laser_frame" pkg="tilt_laser" type="laser_frame" />
    <node type="laser_scan_assembler" pkg="laser_assembler" name="assembler">
        <param name="fixed_frame" type="string" value="world" />
        <param name="max_scans" type="int" value="160" />
    </node>
    <node name="snapshot" pkg="tilt_laser" type="laser_snapshot" />
  </launch>
